<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"

	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   	http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<context:component-scan base-package="com.siran" annotation-config="true"/>

	<bean name="appReceivedDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.siran.AppReceivedJob"/>
		<property name="jobDataMap">
			<map>
				<entry key="confirmOrderService" value-ref="confirmOrderService"/>
			</map>
		</property>
		<property name="durability" value="true"/>
	</bean>


<!--

	&lt;!&ndash; For times when you just need to invoke a method on a specific object &ndash;&gt;
	<bean id="simpleJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="myBean"/>
		<property name="targetMethod" value="printMessage"/>
	</bean>


	 For times when you need more complex processing, passing data to the scheduled job
	<bean name="firstComplexJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.defonds.scheduler.jobs.FirstScheduledJob"/>
		<property name="jobDataMap">
			<map>
				<entry key="anotherBean" value-ref="anotherBean"/>
			</map>
		</property>
		<property name="durability" value="true"/>
	</bean>

	&lt;!&ndash; Always run at 20:00 everyday &ndash;&gt;
	<bean name="secondComplexJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.defonds.scheduler.jobs.SecondScheduledJob"/>
		<property name="durability" value="true"/>
	</bean>
-->


	<!-- Run the job every 2 seconds with initial delay of 1 second -->
	<bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
		<property name="jobDetail" ref="appReceivedDetail"/>
		<property name="startDelay" value="1000"/>
		<property name="repeatInterval" value="60000"/>
	</bean>


<!--	&lt;!&ndash; Run the job every 5 seconds &ndash;&gt;
	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="firstComplexJobDetail"/>
		&lt;!&ndash;<property name="cronExpression" value="0/5 * * ? * SAT-SUN" />&ndash;&gt;
		<property name="cronExpression" value="0/5 * * ? * *"/>

	</bean>

	&lt;!&ndash; Always run at 20:00 everyday &ndash;&gt;
	<bean id="secondCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="secondComplexJobDetail"/>
		<property name="cronExpression" value="0 0 20 ? * *"/>
	</bean>-->


	<!-- Scheduler factory bean to glue together jobDetails and triggers to Configure Quartz Scheduler -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="jobDetails">
			<list>
				<ref bean="appReceivedDetail"/>

			</list>
		</property>

		<property name="triggers">
			<list>
				<ref bean="simpleTrigger"/>
				<!--<ref bean="cronTrigger"/>
				<ref bean="secondCronTrigger"/>-->
			</list>
		</property>
	</bean>

</beans>